/* Dracula NEON - base de cores */
:root {
    --bg: #191a21;
    --bg-light: #282a36;
    --bg-lighter: #343746;
    --bg-dark: #1a1b22;
    --bg-darker: #121317;
    --fg: #F8F8F2;
    --selection: #44475A;
    --comment: #6272A4;

    /* cores NEON */
    --cyan: #00f9ff;
    --green: #39ff14;
    --orange: #ff9900;
    --pink: #ff00ff;
    --purple: #a020f0;
    --red: #ff073a;
    --yellow: #ffff33;
}

/* efeitos de NEON */
.neon-text {
    color: var(--fg);
    text-shadow:
        0 0 5px var(--fg),
        0 0 10px var(--fg),
        0 0 20px var(--fg),
        0 0 40px var(--pink),
        0 0 80px var(--pink),
        0 0 90px var(--pink),
        0 0 100px var(--pink),
        0 0 150px var(--pink);
}

/* NEON por cor */
.neon-cyan {
    color: var(--cyan);
    text-shadow:
        0 0 5px var(--cyan),
        0 0 10px var(--cyan),
        0 0 20px var(--cyan),
        0 0 40px var(--cyan),
        0 0 80px var(--cyan),
        0 0 90px var(--cyan),
        0 0 100px var(--cyan),
        0 0 150px var(--cyan);
}

.neon-green {
    color: var(--green);
    text-shadow:
        0 0 5px var(--green),
        0 0 10px var(--green),
        0 0 20px var(--green),
        0 0 40px var(--green),
        0 0 80px var(--green),
        0 0 90px var(--green),
        0 0 100px var(--green),
        0 0 150px var(--green);
}

.neon-purple {
    color: var(--purple);
    text-shadow:
        0 0 5px var(--purple),
        0 0 10px var(--purple),
        0 0 20px var(--purple),
        0 0 40px var(--purple),
        0 0 80px var(--purple),
        0 0 90px var(--purple),
        0 0 100px var(--purple),
        0 0 150px var(--purple);
}

.neon-red {
    color: var(--red);
    text-shadow:
        0 0 5px var(--red),
        0 0 10px var(--red),
        0 0 20px var(--red),
        0 0 40px var(--red),
        0 0 80px var(--red),
        0 0 90px var(--red),
        0 0 100px var(--red),
        0 0 150px var(--red);
}

.neon-yellow {
    color: var(--yellow);
    text-shadow:
        0 0 5px var(--yellow),
        0 0 10px var(--yellow),
        0 0 20px var(--yellow),
        0 0 40px var(--yellow),
        0 0 80px var(--yellow),
        0 0 90px var(--yellow),
        0 0 100px var(--yellow),
        0 0 150px var(--yellow);
}

/* geral */
body {
    font-family: Noto Sans;
    font-size: 15px;
    font-weight: bold;
    color: var(--fg);
    background-color: var(--bg);
    text-shadow:
        0 0 1px var(--fg),
        0 0 2px var(--fg),
        0 0 3px var(--orange),
        0 0 4px var(--orange),
        0 0 8px var(--red),
        0 0 90px var(--red),
        0 0 100px var(--red),
        0 0 150px var(--red);
}

/* containers */
.container__content,
.settings__content,
.home__content,
.bottom-panel,
.catalogue__filters-container,
.content-sidebar {
    background-color: var(--bg-darker);
    border-radius: 7px;
    color: var(--fg);
    text-shadow:
        0 0 1px var(--fg),
        0 0 2px var(--fg),
        0 0 3px var(--fg),
        0 0 4px var(--bg-lighter),
        0 0 8px var(--bg-lighter),
        0 0 90px var(--purple),
        0 0 100px var(--pink),
        0 0 150px var(--pink);
}

/* sidebar */
.sidebar,
.sidebar__menu,
.sidebar__content,
.sidebar-profile,
.sidebar-profile__button {
    background-color: var(--bg-light);
    border-radius: 7px;
    color: var(--orange);
    text-shadow:
        0 0 5px var(--orange),
        0 0 10px var(--orange),
        0 0 20px var(--orange),
        0 0 40px var(--orange),
        0 0 0px var(--orange),
        0 0 0px var(--orange),
        0 0 0px var(--orange),
        0 0 0px var(--orange);
}

.sidebar-profile__friends-button {
    border-radius: 50%;
    background-color: var(--bg-dark);
    color: var(--orange);
    box-shadow:
        0 0 1px var(--orange),
        0 0 2px var(--orange),
        0 0 3px var(--orange),
        0 0 4px var(--red),
        0 0 5px var(--red),
        0 0 16px var(--orange),
        0 0 20px var(--orange),
        0 0 0px var(--orange);
    text-shadow:
        0 0 1px var(--fg),
        0 0 2px var(--fg),
        0 0 3px var(--fg),
        0 0 4px var(--bg-lighter),
        0 0 8px var(--bg-lighter),
        0 0 90px var(--purple),
        0 0 100px var(--pink),
        0 0 150px var(--pink);
}

.sidebar__section-title {
    text-transform: uppercase;
    font-weight: bold;
    color: var(--orange);
    text-align: center;
}

.sidebar__menu-item {
    color: var(--red);
}

/* header / título */
.title-bar,
.header {
    background-color: var(--bg-dark);
    color: var(--fg);
    border-bottom: 1px solid var(--selection);
    border-radius: 7px;
}

/* jogo relacionados */
.game-item,
.download-group__item {
    background-color: var(--bg-light);
    border-radius: 7px;
    border: 2px solid var(--bg);
    color: var(--fg);
    box-shadow:
        0 0 1px var(--red),
        0 0 2px var(--red),
        0 0 3px var(--red),
        0 0 4px var(--red),
        0 0 0px var(--red),
        0 0 0px var(--red),
        0 0 1px var(--orange),
        0 0 1px var(--orange);

    text-shadow:
        0 0 1px var(--orange),
        0 0 2px var(--orange),
        0 0 3px var(--orange),
        0 0 4px var(--red),
        0 0 0px var(--red),
        0 0 0px var(--orange),
        0 0 0px var(--orange),
        0 0 0px var(--orange);
}

/* campos de texto */
.text-field-container__text-field-input--read-only,
.text-field-container__text-field--dark,
.header__search,
.text-field-container__text-field--primary {
    background-color: var(--bg-darker);
    border-radius: 7px;
    border: transparent;
}

.text-field-container__text-field-wrapper {
    border: solid 6px var(--bg-light);
    border-radius: 7px;
}

/* botões */
.sidebar-section__button,
.button--danger,
.button--outline {
    background-color: var(--bg-dark);
    color: var(--fg);
    border: transparent;
    text-shadow:
        0 0 1px var(--orange),
        0 0 2px var(--orange),
        0 0 3px var(--orange),
        0 0 4px var(--red),
        0 0 8px var(--red),
        0 0 90px var(--orange),
        0 0 100px var(--orange),
        0 0 150px var(--orange);
}

.button--danger {
    background-color: var(--red);
    text-shadow:
        0 0 1px var(--orange),
        0 0 2px var(--orange),
        0 0 3px var(--orange),
        0 0 4px var(--red),
        0 0 8px var(--red),
        0 0 90px var(--orange),
        0 0 100px var(--orange),
        0 0 150px var(--orange);
}

/* perfil e jogos recentes */
.user-stats__section-header,
.recent-games__section-header,
.profile-content__section-header {
    background-color: var(--bg-dark);
    border-radius: 8px;
    border: solid 8px var(--bg-dark);
    text-align: center;
    font-weight: bold;
    text-shadow:
        0 0 1px var(--orange),
        0 0 2px var(--orange),
        0 0 3px var(--orange),
        0 0 4px var(--red),
        0 0 8px var(--red),
        0 0 90px var(--orange),
        0 0 100px var(--orange),
        0 0 150px var(--orange);
}

.user-stats__box,
.recent-games__box,
.user-stats__list-item,
.recent-games__list {
    background-color: var(--bg);
    border-radius: 7px;
    color: var(--fg);
    text-shadow:
        0 0 1px var(--red),
        0 0 2px var(--red),
        0 0 3px var(--red),
        0 0 4px var(--red),
        0 0 8px var(--red),
        0 0 90px var(--red),
        0 0 100px var(--red),
        0 0 150px var(--red);
}

/* modais */
.modal {
    background-color: var(--bg-dark);
    border: solid 10px var(--bg-light);
    border-radius: 7px;
}

.modal__header {
    background-color: var(--bg-light);
    border-radius: 40px;
    border: solid 7px var(--bg);
    color: var(--fg);
}

/* elementos especiais */
.profile-hero__background-overlay--transparent {
    background: var(--bg-darker) no-repeat center center;
    background-size: cover;
}

.profile-hero__hero-panel--transparent {
    background: var(--bg-dark) !important;
}

.theme-card--active {
    background-color: var(--bg-light);
    color: var(--fg);
}

.download-group__title,
.theme-card__header__title,
.description-header {
    color: var(--yellow);
}

.settings-download-sources__item {
    background-color: var(--bg-dark);
    border: 1px solid transparent;
}