
  /*
    Here you can edit CSS for your theme and apply it on Hydra.
    There are a few classes already in place, you can use them to style the launcher.

    If you want to learn more about how to run Hydra in dev mode (which will allow you to inspect the DOM and view the classes)
    or how to publish your theme in the theme store, you can check the docs:
    https://docs.hydralauncher.gg/

    Happy hacking!
  */

  /* Header */
  .header {}
  /* Sidebar */
  .sidebar {}
  /* Main content */
  .container__content {}
  /* Bottom panel */
  .bottom-panel {}
  /* Toast */
  .toast {}
  /* Button */
  .button {}
body {
    margin: 0;
    color: #f0efef;
    font-family: Arial, sans-serif;

  }


  #root {
    background: #663030ff
      url("https://i.pinimg.com/originals/b2/2d/97/b22d9731a4d86f9a55aa9ca0444bc348.gif")
      no-repeat center center;
    background-size: cover;
    }


  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }


  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .game-item,

  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {

    background-color: rgba(113, 115, 134, 0.25) !important;
    backdrop-filter: blur(2px);

    }

  .container__content .button--outline {
    backdrop-filter: blur(6px);
    background-color: rgba(131, 130, 133, 0.25);
  }


  .settings-download-sources__item,
  .download-group__item,
  
  .game-item {
    background-color: rgba(85, 83, 88, 0.25) !important;
  }


  .title-bar {
    backdrop-filter: blur(80px);
    background-color: #3f3d3dff;
  }


  .home__content {
    background-color: rgba(97, 96, 100, 0.25);
    backdrop-filter: blur(2px);
  }

    background-color: rgba(74, 73, 77, 0.25);

  }

.achievement-notification__outer-container {
  background: url(https://i.pinimg.com/1200x/2c/e5/a6/2ce5a6d5c4f9aaaf654b563a11961878.jpg);
  -webkit-text-fill-color: #ff0000;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.achievement-notification__container {
  background-color: transparent;
}
.achievement-notification__outer-container {
  background: url(https://i.pinimg.com/1200x/2c/e5/a6/2ce5a6d5c4f9aaaf654b563a11961878.jpg);
  -webkit-text-fill-color: #ff0000;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  color: #000;
}

.achievement-notification__container {
  background-color: transparent;