
body {
    margin: 0;
    color: #fffcfc;
    font-family: Arial, sans-serif;
<<<<<<<< HEAD:themes/Wooper-rjeOXd8Q/theme.css

  }


  #root {
    background: #1a0783e7
      url("https://i.ibb.co/TqLrwxnT/wooper-pokemon-UPSCALED.jpg")
      no-repeat center center;
    background-size: cover;
    }
========
  }
>>>>>>>> fbea05d (kakugurui):themes/kakegurui-byjkPxAQ/theme.css

  #root {
background: url("https://i.imgur.com/xqUHvu7.jpg") no-repeat center, #ff00006c;
    background-size: cover;
  }

  .sidebar,
  .header,
  .container__content,
  .bottom-panel {
    background: transparent !important; 
  }
<<<<<<<< HEAD:themes/Wooper-rjeOXd8Q/theme.css

========
>>>>>>>> fbea05d (kakugurui):themes/kakegurui-byjkPxAQ/theme.css

  .text-field-container__text-field--dark,
  .text-field-container__text-field--primary,
  .header__search,
  .settings__content,
  .catalogue__filters-container,
  .friends-box__box,
  .user-stats__box,
  .recent-games__box,
  .sidebar {
<<<<<<<< HEAD:themes/Wooper-rjeOXd8Q/theme.css

    background-color: rgba(39, 12, 112, 0.05) !important;
    backdrop-filter: blur(2px);
}
========
    background-color: rgba(238, 8, 8, 0.192) !important;
    backdrop-filter: blur(8px);
  }
>>>>>>>> fbea05d (kakugurui):themes/kakegurui-byjkPxAQ/theme.css

.sidebar a, 
.sidebar span, 
.sidebar div {
    color: #8d8d8d !important;
}
  .container__content .button--outline {
    backdrop-filter: blur(6px);
<<<<<<<< HEAD:themes/Wooper-rjeOXd8Q/theme.css
    background-color: rgba(39, 12, 112, 0.25);
  }


  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(39, 12, 112, 0.25) !important;
  }


  .title-bar {
    background-color: #c5881618;
    backdrop-filter: blur(2px);
  }
.title-bar::after {
    content: "Discord: mngabs";
    color: #ffffffc0;
    font-weight: bold;
    font-size: 13px;
    margin-left: 10px;
}
  .home__content {
    background-color: rgba(230, 162, 17, 0.05);
    backdrop-filter: blur(2px);
  }
========
    background-color: rgba(5, 3, 14, 0.295);
  }

  .settings-download-sources__item,
  .download-group__item,
  .game-item {
    background-color: rgba(82, 2, 2, 0.384) !important;
  }
  .title-bar {
    background-color: #f1080867;
  }
  .home__content {
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(2px);
  }
>>>>>>>> fbea05d (kakugurui):themes/kakegurui-byjkPxAQ/theme.css

  .bottom-panel {
    background-color: rgba(8, 8, 8, 0.452);
  }
.sidebar-profile__friends-button {
    color: #000000;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    min-width: 40px;
    min-height: 40px;
    height: 40px;
    background-color: #b3450c30;
    position: relative;
    transition: all ease 0.3s;
}
::-webkit-scrollbar {
    width: 9px;
    background-color: #b5b5b55e;
}