#root {
    background: url(https://images7.alphacoders.com/749/thumb-1920-749807.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  .title-bar,
  .sidebar,
  .container__content,
  .header,
  .bottom-panel,
  .text-field-container__text-field--dark,
  .settings__content,
  .header__search,
  .sidebar-profile__friends-button,
  .game-item,
  .catalogue__filters-container,
  .user-stats__box,
  .recent-games__box,
  .friends-box__box {
    background: #341f3b2c;
  }