body {
    margin: 0;
    color: #f0efef;
    font-family: Arial, sans-serif;
}


#root {
background: #c7c0ee
    url("https://images4.alphacoders.com/133/1336369.jpeg")
    no-repeat center center;
background-size: cover;
}

.sidebar,
.header,
.container__content,
.bottom-panel,
.title-bar {
background: transparent !important; 
}

.title-bar h4 {
    visibility: hidden;
  }
  
.title-bar h4::before {
    content: "H y d r a";
    font-size: 14px;
    color: #ffffff;
    visibility: visible;
}

.text-field-container__text-field--dark,
.text-field-container__text-field--primary,
.header__search,
.game-item,

.settings__content,
.catalogue__filters-container,
.friends-box__box,
.user-stats__box,
.recent-games__box,
.sidebar,
.profile-hero__user-information {

background-color: #bdb2dd1c !important;
backdrop-filter: blur(8px);

}
profile-hero__hero-panel profile-hero__hero-panel--transparent {
background-color: #ffffff00;
}

.container__content .button--outline {
backdrop-filter: blur(6px);
background-color: #bdb2dd1c;
}